[submodule "day-1"]
	path = day-1
	url = https://github.com/nickm8/day-1.git
[submodule "day-2"]
	path = day-2
	url = https://github.com/nickm8/day-2.git
[submodule "day-3"]
	path = day-3
	url = https://github.com/nickm8/day-3.git
[submodule "day-4"]
	path = day-4
	url = https://github.com/nickm8/day-4.git
[submodule "day-5"]
	path = day-5
	url = https://github.com/nickm8/day-5.git
[submodule "day-6"]
	path = day-6
	url = https://github.com/nickm8/day-6.git
[submodule "day-7"]
	path = day-7
	url = https://github.com/nickm8/day-7.git
[submodule "day-8"]
	path = day-8
	url = https://github.com/nickm8/day-8.git
[submodule "day-10"]
	path = day-10
	url = https://github.com/nickm8/day-10.git
[submodule "day-9"]
	path = day-9
	url = https://github.com/nickm8/day-9.git
[submodule "day-11"]
	path = day-11
	url = https://github.com/nickm8/day-11.git
[submodule "day-12"]
	path = day-12
	url = https://github.com/nickm8/day-12.git
[submodule "day-13"]
	path = day-13
	url = https://github.com/nickm8/day-13.git
[submodule "day-14"]
	path = day-14
	url = https://github.com/nickm8/day-14.git
[submodule "day-15"]
	path = day-15
	url = https://github.com/nickm8/day-15.git
[submodule "day-16"]
	path = day-16
	url = https://github.com/nickm8/day-16.git
[submodule "day-17"]
	path = day-17
	url = https://github.com/nickm8/day-17.git
[submodule "day-18"]
	path = day-18
	url = https://github.com/nickm8/day-18.git
[submodule "day-19"]
	path = day-19
	url = https://github.com/nickm8/day-19.git
