[submodule "day-1"]
	path = day-1
	url = https://github.com/nickm8/day-1.git
[submodule "day-2"]
	path = day-2
	url = https://github.com/nickm8/day-2.git
[submodule "day-3"]
	path = day-3
	url = https://github.com/nickm8/day-3.git
[submodule "day-4"]
	path = day-4
	url = https://github.com/nickm8/day-4.git
[submodule "day-5"]
	path = day-5
	url = https://github.com/nickm8/day-5.git
[submodule "day-6"]
	path = day-6
	url = https://github.com/nickm8/day-6.git
[submodule "day-7"]
	path = day-7
	url = https://github.com/nickm8/day-7.git
